//BACKEND//

PORT=
JWT_SECRET=
DATABASE_URL=
GOOGLE_CLIENT_ID=
GA_CLIENT_SECRET=
GA_REFRESH_TOKEN=
GA_PROPERTY_ID=
TURNSTILE_SECRET_KEY=
DASHBOARD_USERNAME=
DASHBOARD_PASSWORD=
EMAIL_USER=
EMAIL_PASS=

// FRONTEND//

VITE_GOOGLE_CLIENT_ID=
VITE_TURNSTILE_SITE_KEY=